<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!--
    Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
    Some notes:
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
            * Enable inline JS: add 'unsafe-inline' to default-src
    -->
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Color theme for statusbar -->
  <title><%= htmlWebpackPlugin.options.title %></title>

  <%= htmlWebpackPlugin.tags.headTags %>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚾️</text></svg>">

  <meta name="twitter:card" content="Baseball Words uses the math and history of baseball to create artwork with digital scarcity for the most dedicated baseball fans. Hosted on
  Ethereum and IPFS with metadata and attributes stored on-chain." />
  <meta name="twitter:site" content="@bwordsNFT" />
  <meta name="twitter:title" content="Baseball Words - Ethereum Baseball NFTs" />
  <meta name="twitter:description" content="Baseball Words uses the math and history of baseball to create artwork with digital scarcity for the most dedicated baseball fans. Hosted on
  Ethereum and IPFS with metadata and attributes stored on-chain." />
  <meta name="twitter:image" content="/images/bbwords.png" />


</head>

<body>

  <div id="app"></div>


  <%= htmlWebpackPlugin.tags.bodyTags %>

  <script type="module">
    bbw.default()
  </script>

</body>



</html>