<template>

    <div class="row collection padding">

        <div class="col-100 large-50 preview">

          ${project.coverUrl ? $h`
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" scrolling="no"
              allowfullscreen="" frameborder="0" sandbox="allow-scripts"
              src="${project.coverUrl}">
            </iframe>
          ` : $h`
            <div class="unrevealed">
              Preview not revealed.
            </div>            
          `}

        </div>

        <div class="col-100 large-50">

          <div class="title"><a class="link" href="/project/${project.id}/0">${project.name}</a></div>
          <div class="description">${project.description}</div>

          <div class="minted">
            <strong>Total Minted:</strong> ${project.minted} of ${project.maxSupply}
          </div>

          <div class="mint">
              
            ${showApproval ? $h`
              <strong>Mint:</strong> <button class="button button-fill button-small" @click=${allowanceClick}>Allow</button>
              To mint Baseball Word NFTs you'll need to allow the contract to spend your ⚾️ tokens. This is a one-time operation.
            ` : ''}

            ${showRedeemValue ? $h`
              <strong>Mint:</strong> <button class="button button-fill button-small" @click=${redeemClick}>Redeem ${project.burnFee} ⚾️ tokens</button>
              <strong>Balance: </strong> ${baseballsBalance} ⚾️
            ` : ''}

            ${showInsufficientBalance ? $h`
              <strong>Mint:</strong> Insufficient ⚾️'s. Balance: ${baseballsBalance} / ${project.burnFee}.
            ` : ''}

            ${showConnectMetamask ? $h`
              <strong>Mint:</strong> Connect Metamask to mint
            ` : ''}

            ${showMaxSupplyReached ? $h`
              <strong>Mint:</strong> Max supply reached. Minting closed.
            ` : ''}

            ${showMintingNotAvailable ? $h`
              <strong>Mint:</strong> Minting not available yet.
            ` : ''}

          </div>

          <div class="burnFee">
            <strong>Mint Fee:</strong> ${project.burnFee} ⚾️
          </div>

          <div class="license">
            <strong>License:</strong> <a href="https://creativecommons.org/share-your-work/public-domain/cc0/" class="external">Creative Commons CC0</a>
          </div>

          <div class="opensea">
            <strong>Buy/Sell:</strong> <a href="${openSeaLink}" class="external">OpenSea</a>
          </div>
          

          <div class="attributes">
            ${projectAttributes?.length > 0 ? $h`

              <div class="row">

                <div class="col-100 margin-bottom">
                  Attribute probabilities are stored on-chain and chosen when minting. Actual distribution may vary. See <a href="#attributesFAQ" class="external">FAQ</a>.
                </div>
    
                ${projectAttributes.map( (attribute) => $h`
    
                  <div class="col-50">
                    <strong>${attribute.category.name}</strong>
                            
                    <table>
                      <tbody>
                          ${attribute.attributeProbabilities.map( (ap) => $h`
                            <tr>
                              <td class="label-cell">${ap.attribute.name}</td>
                              <td class="numeric-cell">${Math.round((ap.probability * 100) / 1000000)}%</td>
                            </tr>
                          `)}
                      </tbody>
                    </table>
    
                  </div>   
                `)}
    
              </div>
            
            ` : $h`
                <strong>Attributes:</strong> <a @click=${showAttributes}>Show</a>
            `}
          </div>



          ${is_contract_owner && project.mintable == false ? $h`
            <div class="row">
              <a class="link" @click=${activateClick}>Activate</a>
            </div>  
            ` : $h``}


        </div>

    </div>

</template>
 
<style>


</style>


<script>
    import { ContainerService } from "../../service/container-service"
    import { ProjectService } from "../../service/project-service"
    import { BaseballsService } from "../../service/baseballs-service"

    import { UiService } from "../../service/ui-service"

    export default (props, { $on, $f7, $update }) => {

        let projectService = ContainerService.getInstance(ProjectService)
        let uiService = ContainerService.getInstance(UiService)
        let baseballsService = ContainerService.getInstance(BaseballsService)


        let project = props.project
        let is_contract_owner = props.is_contract_owner
        let address = props.address
        let baseballsBalance = props.balance
        let allowance = props.allowance
        

        let showRedeemValue = false
        let showInsufficientBalance = false
        let showConnectMetamask = false 
        let showMaxSupplyReached = false
        let showMintingNotAvailable = false
        let showApproval = false

        if (project.mintable == true) {

          if (project.available) {

            if (address) {
              
              if (baseballsBalance >= project.burnFee) {

                if (allowance >= project.burnFee) {
                  showRedeemValue = true
                } else {
                  showApproval = true
                }
                
              } else {
                showInsufficientBalance = true
              }

            } else {
              showConnectMetamask = true
            }

          } else {
            showMaxSupplyReached = true
          }

        } else {
          showMintingNotAvailable = true
        }


        let projectAttributes

        const redeemClick = async (e) => {
          await projectService.mint(project.id)
        }

        const activateClick = async (e) => {
          await projectService.activate(project.id)
        }

        const allowanceClick = async (e) => {
          await baseballsService.allow()
        }

        const showAttributes = async (e) => {
          uiService.showSpinner()
          projectAttributes = await projectService.getProjectAttributes(project.id)
          $update()
          uiService.hideSpinner()
        }


        project.coverUrl =  project.coverUrl?.replace("ipfs://", "/ipfs/")


        let openSeaLink = `https://opensea.io/collection/baseball-words?search[sortAscending]=true&search[stringTraits][0][name]=Project&search[stringTraits][0][values][0]=${project.name}`

        return $render
    }
</script>
