<template>

  <div class="page" data-name="showProject">

    <div class="page-content">

      <!-- Subnavbar -->
      <!-- <div class="subnavbar">
        <div class="subnavbar-inner">
          <a href="/" class="link"><i class="icon icon-back"></i></a>
        </div>
      </div> -->

      <${ProjectInfo} project=${project} is_contract_owner=${isContractOwner} address=${address} balance=${baseballsBalance} allowance=${allowance}  />

      <hr />

      <div class="block-title block-title-medium">
        NFTs <span class="paging">Showing ${pagingViewModel.start} - ${pagingViewModel.end} of ${pagingViewModel.count} </span>
      </div>

      <div class="tokens">
        ${tokens?.map( (token) => $h`
          <div class="col-100 large-33">
            <${Token} token=${token} />
          </div>
        `)}
      </div>

      <div class="segmented segmented-round">
        ${pagingViewModel.previousOffset != pagingViewModel.offset ? $h`
          <a href="/project/${project.id}/${pagingViewModel.previousOffset}" class="button button-outline">Previous</a>
        ` : ''}

        ${pagingViewModel.nextOffset ? $h`
          <a href="/project/${project.id}/${pagingViewModel.nextOffset}" class="button button-outline">Next</a>
        ` : ''}
        
      </div>


    </div>


  </div>

</template>

<style>
  
.tokens {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: baseline;
}


.paging {
  font-size: 15px;
}

</style>

<script>

  // import { UtilService } from "../../service/util-service"
  import { ContainerService } from "../../service/container-service"
  import { PagingService } from "../../service/paging-service"
  import { TokenService } from "../../service/token-service"
  import { UiService } from "../../service/ui-service"

  import ProjectInfo from "../project/project-info.f7.html"
  import Token from "../token/token.f7.html"

  export default (props, { $, $on, $f7, $update }) => {

    let container = props.container

    let project = props.project
    let pagingViewModel = props.pagingViewModel
    let isContractOwner = props.isContractOwner
    let address = props.address
    let baseballsBalance = props.baseballsBalance
    let allowance = props.allowance
    let tokens = props.tokens

    

    return $render
  }
</script>