<template>

    <div class="page" data-name="showProject">
  
      <div class="page-content">
  
        <!-- Subnavbar -->
        <!-- <div class="subnavbar">
          <div class="subnavbar-inner">
            <a href="/" class="link"><i class="icon icon-back"></i></a>
          </div>
        </div> -->
 
        <div class="block-title block-title-medium">
          <strong>Address:</strong> ${address}
        </div>
  
        <div class="block-title block-title-medium">
            NFTs <span class="paging">Showing ${pagingViewModel.start} - ${pagingViewModel.end} of ${pagingViewModel.count} </span>
        </div>

        <div class="tokens">
          ${tokens?.map( (token) => $h`
            <${Token} token=${token} />
          `)}
        </div>
  
        <div class="segmented segmented-round">
          ${pagingViewModel.previousOffset != pagingViewModel.offset ? $h`
            <a href="/profile/${address}/${pagingViewModel.previousOffset}" class="button">Previous</a>
          ` : ''}
  
          ${pagingViewModel.nextOffset ? $h`
            <a href="/profile/${address}/${pagingViewModel.nextOffset}" class="button">Next</a>
          ` : ''}
          
        </div>

      </div>
  
  
    </div>
  
  </template>
  
  <style>
    
  .tokens {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: baseline;
  }

  .paging {
    font-size: 15px;
  }

  
  </style>
  
  <script>
  
    // import { UtilService } from "../../service/util-service"
    import ProjectInfo from "../project/project-info.f7.html"
    import Token from "../token/token.f7.html"
  
    export default (props, { $on, $f7, $update }) => {
  
      let container = props.container

      let address = props.address
      let tokens = props.tokens
      let pagingViewModel = props.pagingViewModel

      

      return $render
    }
  </script>