<template>

  <div class="page" data-name="home">

    <div class="page-content">

      <div class="row intro">

        <div class="col-100 large-75 center">

          <div class="block">

            <h1>A Tribute to Baseball on Ethereum</h1>

            <p>
              2231 <strong>Baseball Words</strong>. One for each home run hit by the top 3 home run hitters of all time. Choose your favorite and own a small piece of 
              baseball history.  
            </p>

            <p>
              A random <strong>Theme</strong>, <strong>Font Face</strong>, <strong>Font Size</strong>, and <strong>Font Style</strong> are combined with data about each home run to create a permanent and one-of-a-kind collectible. 
              They are both randomly generated and also minted in chronological order.           
            </p>

            <div class="main-preview row">

              <div class="col-100 small-only">
                <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" scrolling="no" allowfullscreen="" frameborder="0" sandbox="allow-scripts" src="/ipfs/QmPXMXk3tMwzEAnt16dtzv8pbYWjgULX1kcucVRy84F3ba?t=340282366920938463463374607431768211457&a=1,4,8,9,14,15,19,20"></iframe>              
              </div>

              <div class="col-100 large-only">
                <img src="images/preview.png" style="max-width: 100%;" />
              </div>

            </div>

            <p>
              Baseball Words uses the math and history of baseball to create artwork with digital scarcity for the most dedicated baseball fans. Hosted on
              Ethereum and IPFS with metadata, attributes, and ownership stored on-chain. Each <strong>Baseball Word</strong> is an ERC-721 token with word art influenced by baseball.
            </p>

            <p>
              <strong>How it Works</strong>
              <ol>
                <li>
                  The owner of each of the 249,173 <a href="https://cryptoslam.io/mlb-champions" class="external">MLB Champions</a> is eligible to mint 1 $BASEBALL token. <a href="/find" class="link">Click here</a> to see if you have any that are eligible.
                  <br /><br/ >
                  <strong>Progress</strong>

                  <div>
            
                    ${findTotal < findMax ? $h` 
         
                      <div class="progressbar color-multi" data-progress="${findProgress}">
                        <span></span>
                      </div>
          
                      <p class="center">${findTotal} of ${findMax} minted (${findProgress}%)</p>
          
                      ` : $h`
                      <p>All baseballs minted!</p>
                    `}
                  </div>
                
                </li>
                <li>Or <a href="https://app.uniswap.org/#/swap?outputCurrency=0x7c38faf39d02a6ba30819e3b3700839019e45a6e" class="external link">Buy on Uniswap</a></li>
                <li>Redeem 10 $BASEBALL tokens to mint an NFT. Or <a href="https://opensea.io/collection/baseball-words" class="external link">Buy on OpenSea</a></li>

              </ol>
            </p>

          </div>

          <div class="block">
            When Baseball Word NFTs are minted 100% of the $BASEBALL tokens used to mint are burned 🔥 and secondary sales are royalty-free. MLBC cards
            do not get touched at any point in the process. They just need to exist in your wallet and can only be claimed once. 
          </div>

          <div class="block">

          </div>

          <div class="block">
            There are no legal rights associated with your NFT ownership and all code is free and open source.
            Visualizations of <strong>Baseball Words</strong> are licensed <a
              href="https://creativecommons.org/share-your-work/public-domain/cc0/" class="external">Creative Commons
              CC0</a>.
          </div>

          <div class="block">
            
          </div>

        </div>




      </div>

      <div class="row">

        <div class="col-100 large-75 center">

          <div class="block-title block-title-medium">
            Collections
          </div>

          <div class="row">

            ${projects.map( (project) => $h`
              <${ProjectInfo} project=${project} is_contract_owner=${isContractOwner} address=${address} balance=${baseballsBalance} allowance=${allowance} />
            `)}
          </div>

          <a id="FAQ"></a>
          <div class="row">

            <div class="block-title block-title-medium">
              FAQ
            </div>

            <ul class="faq">

              <li>
                <strong>What are NFTs?</strong>

                <p>
                  An NFT is a digital collectible. It's fun to collect things and NFTs allow us to collect digital
                  items that inherit the permissionless and P2P nature of the Ethereum network. NFTs are provably
                  scarce.
                  Do you know how many signed baseballs exist in real life? Nope. We know exactly how many Baseball Words 
                  there are. 

                </p>
              </li>

              <li>
                <strong>Where are token attributes generated?</strong>
                <p>
                  Token attributes are generated psuedorandomly and stored on-chain. They are predictable and the full
                  logic lives in an open source smart contract. The only thing that can influence them is the order that
                  collections are minted.
                  The JSON metadata that appears on OpenSea and other marketplaces is also on-chain.
                </p>
              </li>

              <li>
                <strong>How are they so cool?</strong>
                <p>
                  Good question. A single HTML file exists for each collection. It's stored in IPFS and the
                  on-chain metadata references it and passes it info about the specific token that's being viewed. The HTML 
                  file includes javascript to apply effects depending on the attributes of the NFT. Instead of an IPFS file 
                  for every token there's just a single file and we use basic logic to change how it renders in real time. 
                </p>
              </li>

              <li>
                <strong>Why would I want to collect Baseball Words?</strong>
                <p>
                  For the same reason we like to catch foul balls. Collectibles help us remember. For me baseball will
                  always remind me of my Mom.
                  She absolutely loves Pittsburgh baseball and all of my childhood memories of baseball are
                  indirectly tied to memories of her. If you love baseball or your Mom you will understand.
                </p>

                <p>
                  Baseball Words are your reward for believing in baseball and Ethereum. You are pioneers. You were here first and you saw gold
                  where no one else could see gold. 
                </p>

                <p>
                  Also since Baseball Words are not physical items your Mom probably won't throw them away like she
                  threw away your baseball cards. And you don't have to pack them up and move
                  them. Also you can sleep with them in your bed easily because they're right on your phone. It's much
                  harder to sleep with all your physical baseball collectibles. You probably won't lose your Baseball
                  Words in a fire or a flood. Unless you have super bad luck with your recovery seed I guess in which case I'm
                  sorry that I brought it up.
                </p>

              </li>

              <li>
                <strong>What is a $BASEBALL token?</strong>
                <p>$BASEBALL tokens are used to mint Baseball Words NFTs. They are free to mint other than normal
                  Ethereum gas charges.</p>
              </li>

              <li>
                <strong>Where do $BASEBALL tokens come from?</strong>
                <p>Baseballs are forged by an algorithm called <a href="https://cryptoslam.io/mlb-champions">Proof of Champion</a>. 
                  Reach deep inside a <a href="https://cryptoslam.io/mlb-champions">Champion</a> and mint a baseball. Your Champion will
                  be unharmed. Literally nothing will happen to it. This is just a straight up gift. 
                  You are responsible for all Ethereum gas charges. There are signficant gas savings for minting tokens with consecutive IDs.</p>
              </li>

              <li>
                <strong>How many $BASEBALL tokens are there?</strong>
                <p>There is a max supply of 249173 $BASEBALL tokens. This is a hard cap. One for each and every
                  Champion. As Baseball Word NFTs are minted this number will decrease permanently.
                </p>
              </li>

              <li>
                <strong>What happens to the $BASEBALL tokens used to mint?</strong>
                <p>100% of the tokens are burned. There are no fees or royalties associated with minting.
                  Users are responsible for Ethereum gas charges.</p>
              </li>

              <li>
                <strong>Why Ethereum? Isn't gas too high?</strong>

                <p>Baseball Words are precious and permanent artifacts. They are not meant to be
                  cheaply transferred. They are to be treasured. Creating permanent, decentralized artifacts is not
                  cheap and takes high quality gas. We expect someone to store our data for the rest of time and
                  agree to do that for FREE? No way. You get what you pay for.</p>

                <p>Since they are on mainnet they are also fully composable with other Ethereum smart contracts.</p>

                <p>Baseball Words can be hosted with an Ethereum node and an IPFS node. If the internet ends you can
                  host them yourself. 
                </p>

                <p>Some projects are not important enough to pay the cost to live on Ethereum but Baseball Words is not
                  one of those projects. I mean just look how cool these are come on.</p>
              </li>

              <li>
                <strong>Why use a Creative Commons Public Domain license?</strong>

                <p>Baseball Words ownership is stored on Ethereum and enforced by smart contracts. It's the only thing that matters.</p>

                <p>A primary attribute of Ethereum is censorship-resistance. At its core copyright is a mechanism to
                  censor others. You can't enforce your copyright without shutting someone else up. It's the only
                  point.
                </p>

                <p>If there is someone that can send a DMCA notice to take down an NFT all we've done is create a
                  risk that the NFT goes offline some day. Why would we want that risk? Who are we trying to empower?
                  Future folks who want to take this project offline? No thank you.
                </p>

                <p>Giving copyright to users doesn't fix the problem because all of a sudden instead of there being a
                  single entity that can send a DMCA notice now there are untold numbers of folks out there. What a
                  nightmare. Giving users the power to ask the government to censor their peers is not something I
                  wish to participate in.
                </p>

                <p>There are plenty of art projects backed by lawyers. This is not one of them.</p>

                <p>Baseball Words are permanent so they HAVE TO be put in the public domain. They will be here for
                  millions of years. They will travel to space as humanity expands. If you hire a lawyer to do any
                  copyright work you are in violation of the terms of the Baseball Words license and you will be
                  placed in a JAIL.
                </p>

                <p>Some day it will be a space jail.</p>

                <p>Every artist is standing on the shoulders of giants. None of this would be possible
                  without the hard work of countless developers and other creatives who have graciously donated their time to the open
                  source movement over the years. There is no chance I could live with myself if I released art on Ethereum
                  that had more restrictive licensing terms than Ethereum itself.
                </p>

                <p><a href="https://creativecommons.org/share-your-work/public-domain/cc0/" class="external">Creative
                    Commons
                    CC0</a> enables scientists, educators, artists and other creators and owners of copyright- or
                  database-protected content to waive those interests in their works and thereby place them as
                  completely as possible in the public domain, so that others may freely build upon, enhance and reuse
                  the works for any purposes without restriction under copyright or database law.
                </p>

                <p>
                  There are no legal rights associated with your NFT ownership and all source code is MIT Licensed. 
                  Facts can not be copyrighted. Just because an NFT displays certain information doesn't mean you own that information. 
                  That would be silly.
                </p>

              </li>

              <li>
                <strong>What if someone puts my NFT on a website can I stop them?</strong>
                <p>No. It's open source.</p>
              </li>

              <li>
                <strong>What if someone makes a t-shirt with my NFT and sells it and makes money can I stop
                  them?</strong>
                <p>No.</p>
              </li>

              <li>
                <strong>What if they make money and I really wanted to make that money instead can I stop them
                  then?</strong>
                <p>No.</p>
              </li>

              <li>
                <strong>Think of all the lawyers and their families and their tiny little babies who will starve if they
                  can't send DMCA requests. Don't you care about starving babies?</strong>
                <p>...</p>
              </li>

              <li>
                <strong>If you're not making money won't you also starve?</strong>
                <p>I appreciate your concern. Maybe. If you'd like to send me money that sounds nice.</p>
              </li>

              <li>
                <strong>Has this smart contract been audited?</strong>
                <p>No. I tried my best to make it secure but I am a mere human.</p>
              </li>

              <li>
                <strong>Is that smart?</strong>
                <p>
                  Probably not but audits cost money. And this is just a personal art project. If you would like to audit it for free that
                  is really nice of you. The Ethereum contract can not be updated so if there are major problems I guess we'll just have to
                  make a different one. That said I worked really hard on the code and did my best to make sure it works as intended.
                </p>

                <p>Core functionality is provided by the <a href="https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC721/ERC721.sol">Open Zeppelin</a> ERC-721 contract 
                  which HAS been audited. Most additional functionality is minting-related.
                </p>

              </li>

              <li>
                <strong>Will there be more collections in the future?</strong>
                <p>
                  The 3 genesis projects will burn a total of 22,310 $BASEBALL tokens. That's less than 10% of the possible supply. The goal is to some day
                  release enough to exhaust the entire supply.  
                </p>
              </li>

              <li>
                <strong>Do you think $BASEBALL tokens or Baseball Word NFTs will increase in value?</strong>
                <p>No. They are already priceless.</p>
              </li>

              <a id="attributesFAQ"></a>
              <li>
                <strong>How are attributes determined?</strong>
                <p>Attribute probabilities are stored on-chain and chosen when minting. With work they can be predicted and the actual distribution may vary. 
                We start a counter at 0 and each attribute that is minted increments it by one. We hash this counter along with the ID of the project.
                As far as I know the only thing that can influence it is minting different projects in a different order. There could also be bugs in the code. 
                Since the code can't be changed those bugs are now intentional and part of the fun! There's a lot of luck in baseball. 
                Values are stored as "x out of a million".</p>
              </li>
           
              <li>
                <strong>What do I actually own?</strong>

                <p>I'm not sure even sure own is the right word. When you own a Baseball Word NFT that means your
                  Ethereum account is mapped to a particular token ID in a smart contract. This mapping gives your
                  wallet permission to transfer the NFT to another wallet. This basic utility allows you to list the NFT on OpenSea
                  and other marketplaces.</p>

                <p>But then again what does owning something even mean? If you can't trade it you don't own it. And you
                  can trade your Baseball Words.
                </p>
              </li>

              <li>
                <strong>Is Baseball Words associated with Major League Baseball?</strong>
                <p>
                  Absolutely not.
                </p>
              </li>

              <li>
                <strong>Can I see a roadmap?</strong>
                <p><img src="images/roadmap.png"  width="350" /></p>
              </li>

            </ul>


          </div>

          <div class="block-title block-title-medium">Verified Etherscan Contracts:</div>
          <div class="block">
            <p>
              <strong>Baseballs: </strong> <a href="https://etherscan.io/token/0x7c38faf39d02a6ba30819e3b3700839019e45a6e" class="link external">Contract</a>
            </p>
            <p><strong>BaseballWords:</strong> <a href="https://etherscan.io/token/0x48FF230a8C15898B21Ed59098420272Bd05053FB" class="link external">Contract</a></p>

          </div>
    
          <div class="block-title block-title-medium">About</div>
          <div class="list media-list">
            <ul>
              <li>
                <div class="item-content">
                    <div class="item-media">
                      <img src="images/profile.png" class="profile" />
                    </div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title"><a href="https://twitter.com/ptonerdoteth" class="external link">Patrick Toner</a></div>
                      </div>
                      <div class="item-text">I'm an open source software developer, a baseball fan, and a fan of censorship-resistant smart contracts on Etheruem.</div>
                    </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                    <div class="item-media">
                      <img src="images/logo.jpg" class="profile" />
                    </div>
                    <div class="item-inner">
                        <div class="item-title">
                          <a href="https://twitter.com/bwordsNFT" class="external link">Twitter</a> 
                        </div>
                    </div>
                </div>
              </li>
            </ul>
            
          </div>

          <div class="block">
            <p >
              <a rel="license"
                 href="http://creativecommons.org/publicdomain/zero/1.0/">
                <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
              </a>
              <br />
              To the extent possible under law, <a rel="dct:publisher" href="https://twitter.com/ptonerdoteth"><span property="dct:title">Patrick Toner</span></a> has 
              waived all copyright and related or neighboring rights to <span property="dct:title">Baseball Words</span>.
            This work is published from:
            <span property="vcard:Country" datatype="dct:ISO3166"
                  content="US" about="https://baseballwords.com">United States</span>.
            </p>
          </div>



        </div>

      </div>

    </div>

  </div>

</template>

<style>
  h1 {
    margin-bottom: 5px;
  }

  /* .subtitle {
    font-size: 16px;
  } */

  .item-text {
    overflow: auto;
  }

  .faq {
    list-style-type: none;
    padding-inline-start: 20px;
  }

  .faq li {
    margin-bottom: 30px;
  }

  .banner {
    background: #f1f1f1;
  }

  .intro {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }

  .bar-number {
    width: 40px;
  }

  .intro li {
    padding: 10px;
  }

  .profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
  }

</style>

<script>

  import ProjectInfo from "../project/project-info.f7.html"


  export default (props, { $on, $f7, $update }) => {

    let container = props.container
    let projects = props.projects
    let isContractOwner = props.isContractOwner
    let address = props.address
    let baseballsBalance = props.baseballsBalance
    let allowance = props.allowance 
    let coverUrl = props.coverUrl

    let findTotal = props.findViewModel.findTotal
    let findProgress = props.findViewModel.findProgress
    let findMax = props.findViewModel.findMax


    return $render
  }
</script>