<template>
  <div id="app">

    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar"></div>




    <div class="view view-init view-main" data-browser-history="true">

      <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
          <div class="title">
            <a href="/">Baseball Words ⚾️</a>
          </div>
          <div class="right">
  
            ${walletAddress != undefined ? $h`
              <a href="/profile/${walletAddress}/0" class="button button-fill color-black">${truncateEthAddress(walletAddress)}</a>
            ` : $h`
              <button class="button button-outline color-white" @click=${connectWallet}>Connect Metamask</button>
            `}
  
          </div>
        </div>
      </div>


    </div>

  </div>
</template>



<script>

  import { ContainerService } from "../service/container-service"
  import { BaseballsService } from "../service/baseballs-service"

  import { WalletService } from "../service/wallet-service"
  import { UiService } from "../service/ui-service"


  export default (props, { $on, $f7ready, $f7, $f7router, $update }) => {

    let walletService
    let uiService
    let baseballsService

    let walletAddress
    let walletAbbrev
    let baseballsBalance

    // Captures 0x + 4 characters, then the last 4 characters.
    const truncateRegex = /^(0x[a-zA-Z0-9]{4})[a-zA-Z0-9]+([a-zA-Z0-9]{4})$/
    
    const truncateEthAddress = (address) => {
        const match = address.match(truncateRegex)
        if (!match) return address
        return `${match[1]}…${match[2]}`
    }


    const displayAddress = async (e) => {

      walletAddress = undefined
      baseballsBalance = 0 

      if (walletService.wallet) {

        walletAddress = await walletService.getAddress()

        if (walletAddress) {
          baseballsBalance = await baseballsService.getBalance(walletAddress)
          walletAbbrev = walletAddress.slice(walletAddress.length - 10)
        }

      }

      $update()
    }

    const connectWallet = async (e) => {
      //Connect to metamask
      await walletService.connect()
      displayAddress()
    }



    $f7ready(async () => {

      walletService = ContainerService.getInstance(WalletService)
      uiService = ContainerService.getInstance(UiService)
      baseballsService = ContainerService.getInstance(BaseballsService)
    
      //Listen for changes
      if (typeof window !== "undefined" && window['ethereum']) {

        await walletService.initWallet()

        window['ethereum'].on('accountsChanged', async (accounts) => {
          
          if (accounts?.length > 0) {
            await walletService.connect()
            displayAddress()
            $f7.views.main.router.refreshPage()
          }

        })

        displayAddress()

      } else {
        uiService.showSpinner("Must be connected to Ethereum mainnet. Please install <a href='http://metamask.io' class='external'>Metamask</a> or <a href='https://trustwallet.com/' class='external'>Trust Wallet</a>")        
      }


      

    })


    return $render
  }

</script>