<template>
  <div id="app">

    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar"></div>




    <div class="view view-init view-main" data-browser-history="true">

      <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
          <div class="title">
            <a href="/deploy">Deploy Baseball Words ⚾️</a>
          </div>
          <div class="right">
  
            ${walletAddress != undefined ? $h`
              <a href="/profile/${walletAddress}/0" class="button button-fill color-black">...${walletAbbrev}</a>
            ` : $h`
              <button class="button button-outline color-white" @click=${connectWallet}>Connect Metamask</button>
            `}

            
  
          </div>
        </div>

      </div>

      

    </div>

  </div>
</template>



<script>

  import { ContainerService } from "../service/container-service"

  import { WalletService } from "../service/wallet-service"
  import { UiService } from "../service/ui-service"


  export default (props, { $on, $f7ready, $f7, $f7router, $update }) => {

    let walletService
    let uiService

    let walletAddress
    let walletAbbrev


    const displayAddress = async (e) => {

      walletAddress = undefined

      if (walletService.wallet) {

        walletAddress = await walletService.getAddress()

        if (walletAddress) {
          walletAbbrev = walletAddress.slice(walletAddress.length - 10)
        }

      }

      $update()
    }

    const connectWallet = async (e) => {
      //Connect to metamask
      await walletService.connect()
      displayAddress()
    }



    $f7ready(async () => {

      walletService = ContainerService.getDeployInstance(WalletService)
      uiService = ContainerService.getDeployInstance(UiService)
    
      //Listen for changes
      if (typeof window !== "undefined" && window['ethereum']) {

        await walletService.initWallet()

        window['ethereum'].on('accountsChanged', async (accounts) => {
          
          if (accounts?.length > 0) {
            await walletService.connect()
            displayAddress()
            $f7.views.main.router.refreshPage()
          }

        })

        displayAddress()

      } else {
        uiService.showSpinner("Must be connected to Ethereum mainnet")        
      }


      

    })


    return $render
  }

</script>