<template>

  <div class="page" data-name="deploy">

    <div class="page-content">
      <div class="block-title">Deploy</div>
      

      <div class="block">
        <a @click=${deployWordsClick}>1. Deploy Words Contract</a> <br />
      </div>

      <div class="block-title block-title-medium">2. Deploy Baseballs Contract</div>
      <div class="block">
        <strong>MLBC Address:</strong> <input name="baseballs_mlbcAddress" value=${mlbcAddress} />
        <a @click=${deployBaseballsClick}>Deploy Baseballs</a>
      </div>

      <div class="block-title block-title-medium">3. Deploy TokenUri Contract</div>
      <div class="block">
        <strong>Words Address:</strong> <input name="tokenUri_wordsAddress" value=${wordsAddress} />
        <a @click=${deployTokenUriClick}>Deploy TokenUri</a>
      </div>

      <div class="block-title block-title-medium">4. Deploy BaseballWords Contract</div>
      <div class="block">
        <strong>Words Address:</strong> <input name="baseballWords_wordsAddress" value=${wordsAddress} />
        <strong>Baseballs Address:</strong> <input name="baseballWords_baseballsAddress" value=${baseballsAddress} />
        <strong>TokenUri Address:</strong> <input name="baseballWords_tokenUriAddress" value=${tokenUriAddress} />
        <a @click=${deployBaseballWordsClick}>Deploy BaseballWords</a> <br />
        <strong>${baseballWordsAddress}</strong>
      </div>


      <div class="block">
        <a @click=${createWordsClick}>5. Create Words</a>
      </div>

      <div class="block">
        <a @click=${create714Click}>6. Create 714</a> <br />
        <a @click=${create755Click}>7. Create 755</a><br />
        <a @click=${create762Click}>8. Create 762</a>

      </div>

    </div>

  </div>

</template>

<style>
  
  input {
    width: 100%;
  }

</style>

<script>

  // import { UtilService } from "../../service/util-service"
  import { ContainerService } from "../../service/container-service"
  import { ProjectService } from "../../service/project-service"
  import { WordService } from "../../service/word-service"
  import { DeployService } from "../../service/deploy-service"

  export default (props, { $on, $f7, $update }) => {

    let projectService = ContainerService.getDeployInstance(ProjectService)
    let wordService = ContainerService.getDeployInstance(WordService)
    let deployService = ContainerService.getDeployInstance(DeployService)

    let mlbcAddress = "0x8c9b261faef3b3c2e64ab5e58e04615f8c788099"
    let wordsAddress
    let baseballsAddress 
    let tokenUriAddress
    let baseballWordsAddress

    let createWordsClick = async (e) => {
      await wordService.createWords(['Theme', 'Grass', 'Dirt', 'Diamond', 'Bat', 'Wood', 'USA', 'Font Face',
                                        'Arial', 'Courier New', 'Georgia', 'Times New Roman', 'Verdana', 'Font Size', '50', '80',
                                        '110', '140', 'Font Style', 'NORMAL', 'ITALIC', 'BOLD', 'BOLDITALIC']
      )
    }

    let deployWordsClick = async (e) => {

      let result = await deployService.deployWords()

      wordsAddress = result.contractAddress

      $update()

    }

    let deployBaseballsClick = async (e) => {

      let mlbcAddress = document.getElementsByName("baseballs_mlbcAddress")[0].value.trim()

      let result = await deployService.deployBaseballs(mlbcAddress)

      baseballsAddress = result.contractAddress

      $update()

    }


    let deployTokenUriClick = async (e) => {

      let wordsAddress = document.getElementsByName("tokenUri_wordsAddress")[0].value.trim()
      
      let result = await deployService.deployTokenUri(wordsAddress)

      tokenUriAddress = result.contractAddress

      $update()

    }

    let deployBaseballWordsClick = async (e) => {

      let wordsAddress = document.getElementsByName("baseballWords_wordsAddress")[0].value.trim()
      let baseballsAddress = document.getElementsByName("baseballWords_baseballsAddress")[0].value.trim()
      let tokenUriAddress = document.getElementsByName("baseballWords_tokenUriAddress")[0].value.trim()

      let result = await deployService.deployBaseballWords(wordsAddress, baseballsAddress, tokenUriAddress)

      baseballWordsAddress = result.contractAddress

      $update()

    }

    let create714Click = async (e) => {
      await projectService.createProject(
            ['The 714 Collection', "You're 24. You're a great pitcher but you're sick of only playing every 5 days and America just outlawed booze which is your favorite beverage. You tell the manager you want to hit. He puts you in the lineup but you know he hates it. He wants you to pitch. What an idiot. You start to dream about big apples.", "QmPXMXk3tMwzEAnt16dtzv8pbYWjgULX1kcucVRy84F3ba"],
            [714, '10000000000000000000'],
            [
             1, /**Theme*/ 
             8, /**Font Face */
             14, /**Font Size */
             19 /**Font Style */
            ],
            [
                [
                    await wordService.getWordId('Diamond'), /** Diamond */
                    25000,

                    await wordService.getWordId('USA'), /** USA */
                    75000,

                    await wordService.getWordId('Bat'), /** Bat */
                    100000,

                    await wordService.getWordId('Dirt'), /** Dirt*/
                    250000,

                    await wordService.getWordId('Grass'), /**Grass*/
                    550000
                ],
                [

                    await wordService.getWordId('Verdana'), /** Verdana */
                    31250,

                    await wordService.getWordId('Times New Roman'), /** Times New Roman */
                    93750,

                    await wordService.getWordId('Georgia'), /** Georgia */
                    125000,

                    await wordService.getWordId('Courier New'), /** Courier New */
                    250000,

                    await wordService.getWordId('Arial'), /** Arial */
                    500000
                ],
                [
                    await wordService.getWordId('50'), /** 50 font size */
                    62500,
                    
                    await wordService.getWordId('80'), /** 80 font size */
                    187500,

                    await wordService.getWordId('110'), /** 110 font size */
                    250000,

                    await wordService.getWordId('140'), /** 140 font size */
                    500000,

                ],
                [
                    await wordService.getWordId('BOLDITALIC'), /** BOLDITALIC */
                    62500,

                    await wordService.getWordId('BOLD'), /** BOLD */
                    187500,

                    await wordService.getWordId('ITALIC'), /** ITALIC */
                    250000,

                    await wordService.getWordId('NORMAL'), /** NORMAL */
                    500000,
    
                ]
            ]
        )
    }

    let create755Click = async (e) => {
      await projectService.createProject(
            ['The 755 Collection', "You're 39. You just hit 40 home runs. Crazy. Who does that? You didn’t quite make it though. So close. Now you have the whole offseason to think about it and you joke that you just hope you don’t die before April. You don’t. You’re alive and you are going to make them remember your name. You’ve never stopped swinging. You start to dream about nails.", "QmV5HxsFCutsfJta6bKmzBQyhpmvnB5GYztRX3Gs9RobdQ"],
            [755, '10000000000000000000'],
            [
             1, /**Theme*/ 
             8, /**Font Face */
             14, /**Font Size */
             19 /**Font Style */
            ],
            [
                [
                    await wordService.getWordId('Diamond'), /** Diamond */
                    25000,

                    await wordService.getWordId('USA'), /** USA */
                    75000,

                    await wordService.getWordId('Bat'), /** Bat */
                    100000,

                    await wordService.getWordId('Dirt'), /** Dirt*/
                    250000,

                    await wordService.getWordId('Grass'), /**Grass*/
                    550000
                ],
                [

                    await wordService.getWordId('Verdana'), /** Verdana */
                    31250,

                    await wordService.getWordId('Times New Roman'), /** Times New Roman */
                    93750,

                    await wordService.getWordId('Georgia'), /** Georgia */
                    125000,

                    await wordService.getWordId('Courier New'), /** Courier New */
                    250000,

                    await wordService.getWordId('Arial'), /** Arial */
                    500000
                ],
                [
                    await wordService.getWordId('50'), /** 50 font size */
                    62500,
                    
                    await wordService.getWordId('80'), /** 80 font size */
                    187500,

                    await wordService.getWordId('110'), /** 110 font size */
                    250000,

                    await wordService.getWordId('140'), /** 140 font size */
                    500000,

                ],
                [
                    await wordService.getWordId('BOLDITALIC'), /** BOLDITALIC */
                    62500,

                    await wordService.getWordId('BOLD'), /** BOLD */
                    187500,

                    await wordService.getWordId('ITALIC'), /** ITALIC */
                    250000,

                    await wordService.getWordId('NORMAL'), /** NORMAL */
                    500000,
    
                ]
            ]
        )
    }
    
    let create762Click = async (e) => {
      await projectService.createProject(
            ['The 762 Collection', "You’re 35. You have 3 MVPs but you’d have 6 if they didn’t hate you. They only care about home runs. You’d hit more but they literally won’t pitch to you. You’re shopping for clothes. You tell your wife that a walk and a stolen base is basically a double. She doesn’t care. Why does none of this stuff fit anymore she asks you. You tell her you’re trying a new diet and why does it even matter? Geez. You tell yourself you’re never going to hit another single. Home runs only. You start to have really weird dreams that you don’t want to tell the doctor about.", "QmPdEmBPta68Q8zGc95RmtGDUdrU4ETK78rMoC1ZvFmWYV"],
            [762, '10000000000000000000'],
            [
             1, /**Theme*/ 
             8, /**Font Face */
             14, /**Font Size */
             19 /**Font Style */
            ],
            [
                [
                    await wordService.getWordId('Diamond'), /** Diamond */
                    25000,

                    await wordService.getWordId('USA'), /** USA */
                    75000,

                    await wordService.getWordId('Bat'), /** Bat */
                    100000,

                    await wordService.getWordId('Dirt'), /** Dirt*/
                    250000,

                    await wordService.getWordId('Grass'), /**Grass*/
                    550000
                ],
                [

                    await wordService.getWordId('Verdana'), /** Verdana */
                    31250,

                    await wordService.getWordId('Times New Roman'), /** Times New Roman */
                    93750,

                    await wordService.getWordId('Georgia'), /** Georgia */
                    125000,

                    await wordService.getWordId('Courier New'), /** Courier New */
                    250000,

                    await wordService.getWordId('Arial'), /** Arial */
                    500000
                ],
                [
                    await wordService.getWordId('50'), /** 50 font size */
                    62500,
                    
                    await wordService.getWordId('80'), /** 80 font size */
                    187500,

                    await wordService.getWordId('110'), /** 110 font size */
                    250000,

                    await wordService.getWordId('140'), /** 140 font size */
                    500000,
                ],
                [
                    await wordService.getWordId('BOLDITALIC'), /** BOLDITALIC */
                    62500,

                    await wordService.getWordId('BOLD'), /** BOLD */
                    187500,

                    await wordService.getWordId('ITALIC'), /** ITALIC */
                    250000,

                    await wordService.getWordId('NORMAL'), /** NORMAL */
                    500000,
    
                ]
            ]
        )
    }

    return $render
  }

</script>