<template>


  <div class="page" data-name="showToken">
  
    <div class="page-content">

      <!-- Subnavbar -->
      <div class="subnavbar">
        <div class="subnavbar-inner">
          <a href="#" class="back"><i class="icon icon-back"></i></a>
        </div>
      </div>

      <div class="row padding token-listing">

        <div class="col-100 large-50">

            <div class="preview">
              <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" scrolling="no"
                allowfullscreen="" frameborder="0" sandbox="allow-scripts"
                src="${token.animation_url}">
              </iframe>
            </div>

        </div>
        
        <div class="col-100 large-50">

          <a href="/project/${project.id}/0" class="link">${project.name}</a>

          <div class="title">${token.name}</div>

          <div class="attributes">
            ${token.attributes?.map( (attribute) => $h`
              <p><strong>${attribute.trait_type}:</strong> ${attribute.value}</p>
            `)}
          </div>

          <div class="opensea">
            <a href="https://opensea.io/assets/0x48ff230a8c15898b21ed59098420272bd05053fb/${token.id}" class="external">View on OpenSea</a>
          </div>

        </div>

      </div>



    </div>


  </div>






</template>
 
<style>

.token-listing .preview {
  text-align: right;  
}

.token-listing .preview iframe {
  width: 500px; 
  height: 500px; 
  max-width: 100%;
  border: 1px solid #cccccc; 
}

.token-listing .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.token-listing .description {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.token-listing .attributes strong {
  width: 100px;
  display: inline-block;
}


</style>


<script>

    export default (props, { $on, $f7, $update }) => {

        let token = props.token
        let project = props.project
        
        return $render
    }
</script>
