<template>

    <div class="token">
        <div class="preview">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" scrolling="no"
              allowfullscreen="" frameborder="0" sandbox="allow-scripts"
              src="${token.animation_url}">
            </iframe>
        </div>
        <div class="name">
          <a href="/token/${token.id}">${token.name}</a>
        </div>

        <div class="attributes">
          ${token.attributes?.map( (attribute) => $h`
            <p><strong>${attribute.trait_type}</strong>: ${attribute.value}</p>
          `)}
        </div>

        <div class="opensea">
          <a href="https://opensea.io/assets/0x48ff230a8c15898b21ed59098420272bd05053fb/${token.id}" class="external">View on OpenSea</a>
        </div>
    </div>

</template>
 
<style>


</style>


<script>

    export default (props, { $on, $f7, $update }) => {

        let token = props.token

        token.animation_url =  token.animation_url?.replace("ipfs://", "/ipfs/")

        
        return $render
    }
</script>
