
:root {
  --f7-navbar-bg-color: #007aff;
  --f7-page-bg-color: #c6e1b3;
  --f7-navbar-link-color: #FFFFFF;

  /* --f7-theme-color: #315c15;
  --f7-theme-color-rgb: 49, 92, 21;
  --f7-theme-color-shade: #1f3b0d;
  --f7-theme-color-tint: #437d1d; */

  --f7-page-navbar-offset: 0px;
  --f7-page-toolbar-top-offset: 0px;
  --f7-page-subnavbar-offset: 0px;
  --f7-page-searchbar-offset: 0px;
  --f7-page-content-extra-padding-top: 0px;

  --f7-card-header-font-size: 22px;
  --f7-card-header-font-weight: 500;
  --f7-block-title-white-space: normal;

  --f7-font-size: 19px;


}


.page-content {
  background: #FFFFFF;
  /* padding-top: 0px; */
}

.navbar .title {
  color: #ffffff;
}

h1 {
  font-weight: 450;
}


.center {
  margin: 0 auto;
}


.small-only {
  display: none;
}

.large-only {
  display: flex;
}


@media only screen and (max-width: 1024px) {
  .small-only  {
    display: flex;
  }

  .large-only {
    display: none;
  }
}




.baseball-word {
  border: 1px solid #cccccc;
  height: 100%;
}










.collection {
  border-top: 1px solid #cccccc;
}

.collection .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.collection .description {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.collection .minted {
  padding-bottom: 10px;
}

.collection .license {
  padding-bottom: 10px;
}

.collection .opensea {
  padding-bottom: 10px;
}

.collection .burnFee {
  padding-bottom: 10px;
}

.collection .attributes {
  padding-bottom: 10px;
}

.collection .mint {
  padding-bottom: 10px;
}

.collection tr:nth-child(even){ 
  background-color: #f1f1f1;
}

.collection table {
  width: 100%;
  font-size: 11px;
  margin-bottom: 10px;
}

.collection table, tr, td {
  border: 1px solid #f1f1f1;
  border-collapse: collapse;
}

.collection td {
  padding: 3px;
}

.collection .label-cell {
  font-weight: 600;
}

.collection .numeric-cell {
  text-align: right;
}

.collection .list .item-header {
  font-weight: bold;
}

.collection .preview {
  max-width: 100%; 
  max-height: 100%;
  height: 100%;
  text-align: center;
}

.collection .preview .unrevealed {
  background: #f1f1f1;
  width: 350px;
  height: 350px;
  line-height: 350px;
  border: 1px solid #cccccc;
  margin: auto auto;
}

.collection .preview iframe {
  width: 350px; 
  height: 350px; 
  border: 1px solid #cccccc; 
}







.token {
  padding: 10px;
  margin: 10px;
  background: #f1f1f1;
  /* border: 1px solid var(--f7-theme-color); */
}

.token .name a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.token .attributes {
  font-size: 10px;
}

.token .attributes p {
  padding: 0px;
  margin: 0px;
  margin-bottom: -3px;
}


.token .preview {
  height: 350px;
  width: 350px;
}

.token .preview iframe {
  height: 350px;
  width: 350px;
}

.token .opensea {
  padding-top: 5px;
  font-size: 12px;
}


/* .main-preview {
  margin-top: 10px;
  height: 350px;
  width: 350px;
} */

.main-preview {
  padding: 20px;
  text-align: center;
}

.main-preview iframe {
  height: 350px;
  width: 350px;
}