<template>

  <div class="page" data-name="find">

    <!-- Subnavbar -->
    <div class="subnavbar">
      <div class="subnavbar-inner">
        <a href="/find" class="link"><i class="icon icon-back"></i></a>
      </div>
    </div>


    <div class="page-content">

      <div class="row">

        <div class="col-100 large-75 center padding">

          <div class="block-title block-title-medium">Check For $BASEBALL</div>
          <div class="list">
            <ul>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Champion token ID:</div>
                  <div class="item-input-wrap row">
                    <input type="text" id="checkChampionId" type="number" placeholder="Enter Champion ID" required validate />
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">
                            <button class="button button-fill" @click=${checkClick}>Check</button>
                        </div>
                    </div>
                </div>
              </li>
            </ul>
          </div>


        </div>
      </div>
    </div>
  </div>

</template>

<style>

  .checkResult {
    display: inline;
  }


</style>

<script>

  import { ContainerService } from "../../service/container-service"
  import { BaseballsService } from "../../service/baseballs-service"

  export default (props, { $on, $f7, $update }) => {

    let baseballsService = ContainerService.getInstance(BaseballsService)

    let checkResult

    let checkClick = async (e) => {

      const checkChampionId = document.getElementById("checkChampionId")

      if (!checkChampionId.checkValidity()) return

      let tokenId = checkChampionId.value
      
      let exists = await baseballsService.mlbcTokenExists(tokenId)
      
      if (exists == true) {
        
        let isMinted = await baseballsService.isMinted(tokenId)

        if (isMinted == true) {
          $f7.dialog.alert("Unavailable: Token minted")
        } else {

          $f7.dialog.alert('Available! Champion\'s token has not been minted')

        }

      } else {
        $f7.dialog.alert("Error: Champion does not exist")
      }      


    }




    return $render
  }
</script>