<template>

  <div class="page" data-name="find">

    <!-- Subnavbar -->
    <div class="subnavbar">
      <div class="subnavbar-inner">
        <a href="#" class="back"><i class="icon icon-back"></i></a>
      </div>
    </div>


    <div class="page-content">

      <div class="row">
        <div class="col-100 large-75 center padding">

          <div class="block-title block-title-medium">Overall $BASEBALL Minting Progress</h1>
          <div class="block">
            <div class="progressbar color-multi" data-progress="${findProgress}">
              <span></span>
            </div>

            <p class="center">${findTotal} of ${findMax} found (${findProgress}%)</p>
          </div>

          <div class="block-title block-title-medium">Options</div>
          <div class="list media-list">
            <ul>
              <li>
                <a href="/find/check" class="item-link">
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Check a Champion for a $BASEBALL</div>
                      </div>
                  </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/find/mint" class="item-link">
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Mint $BASEBALL Tokens</div>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>


        </div>
      </div>
    </div>
  </div>

</template>

<style>

  .checkResult {
    display: inline;
  }


</style>

<script>

  import { ContainerService } from "../../service/container-service"
  import { BaseballsService } from "../../service/baseballs-service"

  export default (props, { $on, $f7, $update }) => {

    let findTotal = props.findViewModel.findTotal
    let findProgress = props.findViewModel.findProgress
    let findMax = props.findViewModel.findMax

    return $render
  }
</script>