<template>

  <div class="page" data-name="find">


    <!-- Subnavbar -->
    <div class="subnavbar">
      <div class="subnavbar-inner">
        <a href="/find" class="link"><i class="icon icon-back"></i></a>
      </div>
    </div>


    <div class="page-content">

      <div class="row">

        <div class="col-100 large-75 center padding">

          <div class="block-title block-title-medium">Mint $BASEBALL Tokens</div>
          <div class="list">
            <ul>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Champion token ID:</div>
                  <div class="item-input-wrap row">
                    <input type="text" id="checkChampionId" type="number" placeholder="Enter Champion ID" required validate />
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">
                            <button class="button button-fill" @click=${addListClick}>Add Token To List</button>
                        </div>
                    </div>
                </div>
              </li>
            </ul>
          </div>


          <div class="block-title block-title-medium">Auto Detect Champions</div>
          <div class="list">
            <ul>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Number of Champions</div>
                  <div class="item-input-wrap">
                    <div class="range-slider range-slider-init" data-label="true" data-scale="true">
                      <input type="range" value="${detectTokens}" min="0" max="500" step="10" @change=${rangeChange} />
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">
                            <button class="button button-fill color-yellow" @click=${autoDetectClick}>Auto-detect ${detectTokens} tokens</button>
                        </div>
                    </div>
                </div>
              </li>
            </ul>
          </div>



          <div class="block">

            <div class="label">Selected IDs</div>

            <div class="tokenIds">
              ${selectedTokensArray?.length > 0 ? $h`
                
                ${selectedTokensArray.map( tokenId => $h`
                  <div class="tokenId">
                    <a href="https://cryptoslam.io/mlb-champions/mint/${tokenId}" class="external" target="_blank">${tokenId}</a>
                  </div>
                `)}

              ` : $h`
                  No tokens selected
              `}
            </div>

            <button class="button button-fill disabled" @click=${mintClick} id="mintButton">Mint ${selectedTokensArray ? selectedTokensArray.length : 0} BASEBALL⚾️'s</button>

          </div>


          <div class="block">
            <a @click=${clearStorageClick} class="link">Clear local cache</a>
          </div>

        </div>
      </div>
    </div>
  </div>

</template>

<style>

  .outline-row {
    border-bottom: 1px solid #cccccc;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .label {
    display: inline;
    margin-right: 15px;
    font-weight: 500;
    font-size: 14px;
  }

  .tokenId {
    padding: 5px;
    background: #f1f1f1;
    border: 1px solid #cccccc;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    font-size: 11px;
  }

  .tokenIds {
    width: 100%;
    display: block;
    padding-bottom: 10px;
  }


</style>

<script>

  import { ContainerService } from "../../service/container-service"
  import { BaseballsService } from "../../service/baseballs-service"
  import { UiService } from "../../service/ui-service"


  export default (props, { $on, $f7, $update }) => {

    let baseballsService = ContainerService.getInstance(BaseballsService)
    let uiService = ContainerService.getInstance(UiService)

    let detectTokens = 10

    let checkResult

    let selectedTokens = new Set()
    let selectedTokensArray = []

    let addListClick = async (e) => {

      const checkChampionId = document.getElementById("checkChampionId")
      const mintButton = document.getElementById("mintButton")

      if (!checkChampionId.checkValidity()) return
      
      let tokenId = checkChampionId.value
      
      try {

        let isClaimable = await baseballsService.isClaimable(tokenId)

        if (isClaimable == true) {
          // $f7.dialog.alert('Available! Champion\'s token has not been minted.')

          //Update button
          mintButton.classList.remove("disabled")
          
          //Add to set and array
          selectedTokens.add(tokenId)
          selectedTokensArray = Array.from(selectedTokens)

          //Reset the box
          // checkChampionId.value = undefined

          $update()

        } else {
          $f7.dialog.alert("Unavailable: Token minted or not owned by wallet.")
        }




      } catch (ex) {
        $f7.dialog.alert(ex.message)
      }
      
   
    }

    let autoDetectClick = async (e) => {

      uiService.showSpinner()

      selectedTokens = await baseballsService.autoDetect(detectTokens)
      selectedTokensArray = Array.from(selectedTokens)

      if (selectedTokensArray.length > 0) {
        mintButton.classList.remove("disabled")
      }

      $update()

      uiService.hideSpinner()
    }

    let mintClick = async (e) => {
      await baseballsService.mintQueue(selectedTokensArray)
    }

    let clearStorageClick = async (e) => {
      localStorage.clear()
    }

    let rangeChange = async (e) => {
      detectTokens = e.target.value;
      $update()
    }

    return $render
  }
</script>